.footer {
    background-color: $ColorThemePrimary;
    color: $ColorWhite;
    &__top {
        display: grid;
        grid-template-columns: auto 400px;
        gap: 10px;
        align-items: center;
        @media(max-width: 700px) {
            display: none;
          }
    }
    &__top-left {
        padding: 20px 5px;
    }
    &__top-right {
        background-color: $ColorThemeDuble;
        text-align: center;
        padding: 40px 0;
        font-size: 20px;
        position: relative;
        margin-top: -20px;
        border-bottom-left-radius: 10px;
        i {
            padding: 10px;
            border: 1px solid $ColorWhite;
            border-radius: 100%;
            margin: 0 10px 0 0 ;
            transition: 0.3s all ease 0.3s;
        }
        a:hover {
            i {
                border: 1px solid $ColorThemePrimary;  
            }
            color: $ColorThemePrimary;
        }
    }
    &__top-right::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $ColorThemeDuble;
        top: 0;
    }
    &__top-right::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        top: 0;
        left: -20px;
        border-top: 20px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 20px solid $ColorThemeDuble;
    }
    &__content {
     padding: 20px 5px;
     display: grid;
     grid-template-columns: auto minmax(100px, 300px) minmax(100px, 300px) minmax(100px, 300px);
     gap: 10px 5px;
     @media(max-width: 810px) {
         grid-template-columns: repeat(2, minmax(30%, 50%));
       } 
       @media(max-width: 460px) {
         grid-template-columns: 100%;
       }
    }
    &__contact, &__menu {
     display: flex;
     flex-direction: column;
     row-gap: 40px;
     padding: 5px 10px 5px 20px;
    }
   
    &__title {
     color: $ColorWhite;
     font-size: 24px;
     position: relative;
     line-height: 110%;
    }
    &__title::after {
     content: "";
     height: 5px;
     width: 80px;
     border-radius: 3px;
     background-color: $ColorThemeDuble;
     position: absolute;
     left: 0;
     top: 30px;
    }
    &__contact-list, &__menu-list {
     display: flex;
     flex-direction: column;
     row-gap: 10px;
     i {
         color: $ColorThemeDuble;
         padding: 0 5px 0 0;
     }
     a {
         transition: all 0.3s ease 0.3s;
     }
     a:hover {
         color: $ColorThemeDuble; 
     }
    }
    &__menu-list {
     li {
         display: flex;
         align-items: center;
     }
    }
    &__bottom {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
     padding: 20px 5px;
     @media(max-width: 460px) {
         flex-direction: column;
       }
    }
    &__pay-list {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
    
     img {
         border-radius: 3px;
         width: 45px;
         height: 28px;
     }
    }
    &__copy {
     background-color: #000000;
     color: $ColorWhite;
     padding: 10px 0;
     text-align: center;
    }
 }