.input-text {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #444;
}
.button {
    margin-left: 12px;
    display: block !important;
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-align: center;
    background-color: $ColorButton;
    color: $ColorWhite;
    font-size: 14px;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 0px;
    min-width: 160px;
    transition: all 0.7s ease;
    &:before, 
    &:after {
        bottom: 0;
        left: 0;
        border: 0 solid;
        border-color: transparent transparent transparent $ColorButtonHover;
        transform: rotate(360deg);
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        transition: all 0.7s ease;
        z-index: -1;       
    }
    &:before {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        border-color: transparent ColorButtonHover transparent transparent;
    }
    &:hover,
    &.active {
        &:before,
        &:after {
            border-width: 60px 232px;
        }
        color: $ColorWhite;
    }
    &:after {
        border-color: transparent transparent transparent $ColorButtonHover;
    }
    &:before {
        border-color: transparent $ColorButtonHover transparent transparent;
    }
    &:hover {
        color: $ColorWhite;
    }
}
